@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-color: #D10024 #fff;
    scrollbar-width: thin;
}

/* ---------- HOME SECTION -----------*/

nav{
    height: 70px;
    background: rgba(209,0,36,0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav .logo h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
    border: 2px solid #15161D;
    padding: 10px;
}
nav .logo h1 .name{
    color: #15161D;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s ease;
}
nav ul li a::before{
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -5px;
    border-radius: 5px;
    transition: 0.3s ease-in;
}
nav ul li a:hover::before{
    width: 100%;
    background: #fff;
}
.btn-cart{
    height: 40px;
    width: 140px;
    border: 0;
    outline: 0;
    background: #15161D;
    color: #fff;
    border-radius: 2px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}
.btn-cart i{
    margin-left: 10px;
}
.cart-count{
    position: absolute;
    right: 120px;
    background: #fff;
    color: #15161D;
    height: 40px;
    width: 30px;
    text-align: center;
    line-height: 40px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* ---------- CART SECTION -----------*/

.cart{
    position: fixed;
    top: -100%;
    right: 0;
    width: 450px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #15161D;
    background: #D10024;
    text-transform: uppercase;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    padding: 20px;
    z-index: 100;
    scrollbar-color: #D10024 #fff;
    scrollbar-width: thin;
}
.cart-active{
    top: 0;
    transition: 0.4s;
}
.cart-title{
    text-align: center;
    font-size: 17px;
    color: #fff;
    word-spacing: 5px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #574e4e85;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    background: #fff;
    border-radius: 2px;
    gap: 15px;
    margin-top: 20px;
    padding: 20px 0;
}
.cart-img{
    height: 75px;
    width: 75px;
    padding: 5px;
    object-fit: contain;
    margin-left: 20px;
}
.detail-box{
    display: grid;
    row-gap: 15px;
}
.price-box{
    display: flex;
    justify-content: space-between;
}
.name{
    font-size: 15px;
    font-weight: 500;
}
.cart-price,
.cart-amt{
    font-weight: 600;
    color: #D10024;
}
.cart-quantity{
    background-color: #D10024;
    color: #fff;
    border: none;
    outline: none;
    width: 40px;
    height: 20px;
    font-size: 15px;
    text-align: center;
}
.cart-remove{
    font-size: 30px;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-top: 20px;
    color: #fff;
}
.total-title{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.total-price{
    margin-left: 20px;
    font-weight: 500;
}
.cart .btn-buy{
    padding: 15px;
    border: none;
    outline: 0;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.cart .btn-buy:hover{
    color: #D10024;
    background: #fff;
}
#cart-close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
}

/* ---------- BANNER SECTION -----------*/

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/home-images/bg-1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.banner .collection{
    height: 300px;
    width: 400px;
    background: #fff;
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.banner .collection img{
    height: 150px;
    width: 200px;
    transition: 0.3s ease-in;
}
.banner .collection .overlay{
    position: absolute;
    background: #D10024;
    height: 300px;
    width: 250px;
    top: 0;
    left: 0;
    opacity: 0.9;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .collection .overlay h2{
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 0;
    font-weight: 500;
}
.banner .collection .overlay .btn-shop{
    height: 35px;
    width: 100px;
    margin: 10px 0;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
}
.overlay .btn-shop a{
    text-decoration: none;
    color: #fff;
}
.overlay .btn-shop i{
    font-size: 15px;
    cursor: pointer;
}
.banner .collection:hover.collection img{
    transform: scale(1.3);
}

/* ---------- HOT DEALS SECTION -----------*/

.hot-deals{
    background: url("../hot-deal-images/hotdeal.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
}
.hot-deals-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
}
.hot-deals-time{
    display: flex;
}
.count-down{
    height: 100px;
    width: 100px;
    background: #D10024;
    color: #fff;
    margin: 15px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.count-down h3{
    font-size: 28px;
    color: #fff;
    font-weight: 900;
}
.count-down p{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
.hot-deal-content{
    text-align: center;
}
.hot-deal-content h2{
    font-size: 30px;
    padding: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: #15161D;
}
.hot-deal-content h4{
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
    color: #504b4b;
}
.hot-deals-box .btn-shop-now{
    margin: 20px;
    width: 120px;
    height: 40px;
    background: #D10024;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s ease-in;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.btn-shop-now a{
    text-decoration: none;
    color: #fff;
}
.hot-deals-box .btn-shop-now:hover{
    background: #D31738;
}

/* ---------- NEW PRODUCTS SECTION -----------*/

.new-products{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/home-images/bg-1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 70px;
}
.new-products h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 30px;
    color: #fff;
}
.product-container{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.product-container .product-box{
    height: 400px;
    width: 250px;
    margin: 30px;
    background-color: rgba(209,0,36,0.8);
    color: #fff;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 100px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.product-box p{
    background: #fff;
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #D10024;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50%;
}
.product-box img{
    height: 200px;
    width: 150px;
    transition: 0.3s ease-in;
}
.product-box h2{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    padding: 5px 0;
    text-transform: uppercase;
    text-align: center;
}
.product-box h3{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    padding: 5px 0;
    text-transform: uppercase;
    text-align: center;
}
.product-box h4{
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-weight: 900;
}
.product-box:hover img{
    transform: scale(1.1);
}

/* ---------- SHOP CART SECTION -----------*/

.shop-cart{
    background: rgba(209,0,36,0.9);
    padding-top: 70px;
    padding-bottom: 40px;
}
.shop-cart h1{
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    font-size: 30px;
    color: #fff;
}
.sidebar{
    flex: 0.8;
    height: 100%;
    background: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.cart-container .sidebar h1{
    font-size: 20px;
    border-bottom: 2px solid #d4d0d0;
    color: #D10024;
    padding: 15px 0;
    margin-bottom: 10px;
}
.cart-container{
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
}
.sidebar input[type="text"]{
    padding: 8px;
    outline: none;
    border: 0;
    background: #fff;
    color: #D10024;
    border: 2px solid #D10024;
    width: 100%;
    margin: 15px 0;
}
.sidebar input[type="text"]:focus{
    background: #D10024;
    color: #fff;
}
.sidebar h3{
    font-weight: 600;
    margin: 10px 0;
    font-size: 15px;
    color: #D10024;
    border-top: 2px solid #d4d0d0;
    padding: 20px 0 5px 0;
    text-transform: uppercase;
}
.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar ul li{
    margin: 10px;
    padding-left: 5px;
    font-size: 16px;
    font-weight: 500;
    background: #D10024;
    height: 30px;
    width: 140px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.sidebar ul li:hover{
    color: #D10024;
    background-color: #fff;
    border: 2px solid #D10024;
}
input[type=range]{
    height: 10px;
    margin: 10px 0;
    width: 100%;
}
input[type=range]::-moz-range-track{
    width: 100%;
    height: 15px;
    cursor: pointer;
    background-color: #D10024;
    border-radius: 4px;
}
input[type=range]::-moz-range-thumb{
    border: 2px solid #D10024;
    height: 20px;
    width: 18px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}
.priceValue{
    color: #D10024;
}
.content{
    flex: 5;
}
.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
    cursor: pointer;
}
.product{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top-left-radius: 100px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.product .img{
    flex: 1;
}
.product .img img{
    width: 200px;
    height: 200px;
    margin-top: -20px;
    object-fit: contain;
    transition: 0.3s ease-in;
    transform: scale(0.5);
}
.img img:hover{
    transform: scale(0.6);
}
.product .product-details{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
}
.product-details span:nth-child(1){
    color: #15161D;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}
.product-details span:nth-child(2){
    color: #D10024;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
}
.add-cart{
    height: 25px;
    width: 90px;
    border: none;
    outline: none;
    background: #D10024;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.4s ease;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.add-cart:hover{
    background-color: transparent;
    color: #D10024;
    border: 2px solid #D10024;
}

/* ---------- TOP SELLING PRODUCTS SECTION -----------*/

.top-selling{
    height: 90vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/home-images/bg-3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 70px;
}
.top-selling h1{
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0 20px 0;
    font-size: 30px;
    color: #fff;
}
.top-product{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top-product-box{
    display: flex;
    gap: 20px;
    margin: 30px;
    background-color: rgba(209,0,36,0.9);
    border: 5px solid #D10024;
    border-top-left-radius: 50px;
    height: 120px;
    width: 300px;
    opacity: 0.8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top-product-image img{
    height: 70px;
    width: 70px;
    padding: 5px 0;
    color: #fff;
    text-transform: uppercase;
}
.top-product-details h2{
    font-size: 12px;
    font-weight: 700;
    padding: 5px 0;
    color: #fff;
    text-transform: uppercase;
}
.top-product-details h3{
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0;
    color: #fff;
    text-transform: uppercase;
}
.top-product-details h5{
    font-size: 15px;
    font-weight: 600;
    padding: 5px 0;
    color: #fff;
    text-transform: uppercase;
}
.top-product-details h5 span{
    color: #fff;
    font-size: 12px;
    margin-left: 4px;
    text-decoration: line-through;
}

/* ---------- FOOTER SECTION -----------*/

.footer{
    background: #D10024;
    height: 200px;
}
.footer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: #fff;
}
.foot{
    margin: 0 40px;
}
.footer-box h2{
    padding: 10px 0;
    text-transform: uppercase;
}
.footer-box h2 i{
    margin-right: 15px;
}
.footer-box h3{
    font-size: 17px;
    font-weight: 300;
    padding: 10px 0;
}
.social h2{
    padding: 20px 0;
}
.links button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.4s ease-in;
}
.links button:hover{
    background: #fff;
}
.links button i{
    color: #fff;
    transition: 0.3s ease-in;
}
.links button:hover i{
    color: #D10024;
}
.copyright{
    border-top: 2px solid #fff;
    background: #D10024;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.copyright p{
    font-size: 14px;
    padding: 10px;
    color: #fff;
}
.copyright p span{
    text-transform: uppercase;
    font-weight: 600;
    color: #15161D;
}